{% block topbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('assets.static', filename='img/logos/ico.png')}}"/>
            {{ brand }}
          </a>
          <div class="nav-collapse">
            <ul class="nav">
                <li {% if active_page == 'home' %}class="active" {% endif %}><a href="{{ url_for('index') }}"><i class="icon icon-white icon-home"></i> Home</a></li>
                <li {% if active_page == 'mission' %}class="active" {% endif %}><a href="learnmore.html"><i class="icon icon-white icon-star"></i> Mission</a></li>
                <li {% if active_page == 'pybossa' %}class="active" {% endif %}><a href="pybossa"><i class="icon icon-white icon-globe"></i> Contribute</a></li>
                <li {% if active_page == 'blog' %}class="active" {% endif %}><a href="blog"><i class="icon icon-white icon-comment"></i> Blog</a></li>
                <li {% if active_page == 'contact' %}class="active" {% endif %}><a href="contact.html"><i class="icon icon-white icon-envelope"></i> Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}
